#footer {
    position: absolute;
    bottom: 0;
    background-color: #ce7427;
    height: 50px;
    width: 100%;
    padding: 14px;
}

#aTag {
    text-decoration: none;
    color: inherit;
    /* Inherit the color from the parent element, typically black or blue */
}

/* Apply styles only on hover */
#aTag:hover {
    color: #000000;
}

/* 
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1%; */
/* margin-top: 13%;
} */